.main-form-add {
  padding: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.col-12-col-md-7-right {
  box-sizing: border-box;
  color: #212529;
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 0px;
  max-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  text-align: start;
  text-size-adjust: 100%;
  width: 58%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.col-md-6-add {
  box-sizing: border-box;
  color: #212529;
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 24px;
  margin-top: 0px;
  max-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  text-align: start;
  text-size-adjust: 100%;
  width: 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.my-3 {
  box-sizing: border-box;
  color: #212529;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 16px;
  text-align: start;
  text-size-adjust: 100%;
  width: 199.234px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.my-3-form-check {
  box-sizing: border-box;
  color: #212529;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 70px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 16px;
  min-height: 24px;
  padding-left: 24px;
  text-align: start;
  text-size-adjust: 100%;
  width: 234.109px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.form-label {
  box-sizing: border-box;
  color: #212529;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 24px;
  margin-bottom: 8px;
  text-align: start;
  text-size-adjust: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.form-check-label-add {
  box-sizing: border-box;
  color: #212529;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 24px;
  text-align: start;
  text-size-adjust: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.form-text-add {
  box-sizing: border-box;
  color: #6c757d;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-height: 21px;
  margin-top: 4px;
  text-align: start;
  text-size-adjust: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.form-control-add {
  appearance: none;
  background-clip: padding-box;
  background-color: white;
  border-bottom-color: #ced4da;
  border-bottom-left-radius: 800px;
  border-bottom-right-radius: 800px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #ced4da;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #ced4da;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #ced4da;
  border-top-left-radius: 800px;
  border-top-right-radius: 800px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: #212529;
  display: block;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 100%;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  width: 100%;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}

/*# sourceMappingURL=main.css.map */
