@import 'color';

.main-form {
    padding: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container-fluid {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 24px;
    margin-left: 8.29688px;
    margin-right: 8.3125px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: start;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.row {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 24px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 0px;
    text-align: start;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.col-12-left {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 24px;
    margin-top: 0px;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    text-align: start;
    text-size-adjust: 100%;
    width: 41.6%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-add {
    background-color: rgb(92, 221, 139);
    border-bottom-color: rgb(92, 221, 139);
    border-bottom-left-radius: 800px;
    border-bottom-right-radius: 800px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(92, 221, 139);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(92, 221, 139);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(92, 221, 139);
    border-top-left-radius: 800px;
    border-top-right-radius: 800px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    line-height: 24px;
    margin-bottom: 16px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    user-select: none;
    vertical-align: middle;
    width: 220.812px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow-box-mb-3 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 70px 0px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 538px;
    line-height: 24px;
    margin-bottom: 16px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: start;
    text-size-adjust: 100%;
    width: 355.328px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.list-header {
    border-bottom-color: rgb(222, 226, 230);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 65px;
    justify-content: space-between;
    line-height: 24px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: start;
    text-size-adjust: 100%;
    width: 355px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.search-wrapper {
    align-items: center;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    line-height: 24px;
    text-align: start;
    text-size-adjust: 100%;
    width: 237px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.search-icon {
    box-sizing: border-box;
    color: rgb(192, 192, 192);
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    line-height: 24px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: start;
    text-decoration-color: rgb(192, 192, 192);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    width: 36px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.object-inline--fa {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 16px;
    line-height: 24px;
    overflow-x: visible;
    overflow-y: visible;
    text-align: center;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    user-select: none;
    vertical-align: -2px;
    width: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.form-control-1 {
    appearance: none;
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(206, 212, 218);
    border-bottom-left-radius: 800px;
    border-bottom-right-radius: 800px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(206, 212, 218);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(206, 212, 218);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(206, 212, 218);
    border-top-left-radius: 800px;
    border-top-right-radius: 800px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 38px;
    letter-spacing: normal;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-width: 240px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out;
    width: 201px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;
}

.monitor-list {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 453px;
    line-height: 24px;
    max-height: 663px;
    min-height: 453px;
    overflow-y: auto;
    position: sticky;
    text-align: start;
    text-size-adjust: 100%;
    top: 10px;
    width: 270px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text-center {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    margin-top: 16px;
    text-align: center;
    text-size-adjust: 100%;
    width: 270px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.col-12-right {
    position: relative;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 400;
    height: 589px;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 0px;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    text-align: start;
    text-size-adjust: 100%;
    width: 58.3%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mb-3 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-size: 32px;
    font-weight: 500;
    height: 38px;
    line-height: 38.4px;
    margin-block-end: 16px;
    margin-block-start: 0px;
    margin-bottom: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    text-align: start;
    text-size-adjust: 100%;
    width: 491.062px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow-box-bigpadding {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 70px 0px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 155px;
    line-height: 24px;
    margin-bottom: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.row-a {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    height: 115px;
    line-height: 24px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.col {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 400;
    height: 115px;
    line-height: 24px;
    margin-top: 0px;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.num {
    box-sizing: border-box;
    color: rgb(92, 221, 139);
    display: block;
    font-size: 30px;
    font-weight: 700;
    height: auto;
    line-height: 45px;
    text-align: center;
    text-size-adjust: 100%;
    width: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.num-text-danger {
    box-sizing: border-box;
    color: rgb(220, 53, 69);
    display: block;
    font-size: 30px;
    font-weight: 700;
    height: auto;
    line-height: 45px;
    text-align: center;
    text-size-adjust: 100%;
    width: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.num-text-secondary {
    box-sizing: border-box;
    color: rgb(108, 117, 125);
    display: block;
    font-size: 30px;
    font-weight: 700;
    height: auto;
    line-height: 45px;
    text-align: center;
    text-size-adjust: 100%;
    width: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow-box-table-shadow-box {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 70px 0px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    line-height: 24px;
    overflow-x: hidden;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: start;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.table {
    border-bottom-color: rgb(222, 226, 230);
    border-collapse: collapse;
    border-left-color: rgb(222, 226, 230);
    border-right-color: rgb(222, 226, 230);
    border-top-color: rgb(222, 226, 230);
    box-sizing: border-box;
    caption-side: bottom;
    color: rgb(33, 37, 41);
    display: table;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    line-height: 21px;
    margin-bottom: 16px;
    text-align: start;
    text-indent: 0px;
    text-size-adjust: 100%;
    vertical-align: top;
    width: 100%;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.d-flex {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    justify-content: center;
    line-height: 24px;
    text-align: start;
    text-size-adjust: 100%;
    width: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ReactPagination {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    line-height: 24px;
    text-align: start;
    text-size-adjust: 100%;
    width: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ReactPagination__pagination {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: none;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-block-end: 16px;
    margin-block-start: 0px;
    margin-bottom: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    padding-inline-start: 0px;
    padding-left: 0px;
    text-align: start;
    text-size-adjust: 100%;
    width: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ReactPagination__pagination_item {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: list-item;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page-link {
    align-items: flex-start;
    appearance: button;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(222, 226, 230);
    border-bottom-left-radius: 800px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(222, 226, 230);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(222, 226, 230);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(222, 226, 230);
    border-top-left-radius: 800px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(108, 117, 125);
    display: block;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: auto;
    letter-spacing: normal;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    pointer-events: none;
    position: relative;
    text-align: center;
    text-decoration-color: rgb(108, 117, 125);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    width: auto;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;
}
